<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>makersBNB</title>
  </head>
  <body>
    <h1>Welcome to makersBNB</h1>
    <a href="/login">Login<a><br>
    <a href="/signup">Sign Up<a><br>
    <a href="/properties">View Properties<a><br>
    <a href="/myaccount">My Account<a><br>
    <a href="/myaccount/properties">My Properties<a><br>
    <form action="/logout" method="post">
      <button type="submit">Log Out</button>
    </form>

  </body>
</html>