<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet dropdown" href="index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>makersBNB</title>
  </head>
  <body>
    <nav>
      <form action="/"><button>Homepage</button></form>
      <form action="/properties"><button>Available Properties</button></form>
      <div class="dropdown">
        <button class="dropbtn">My Account</button>
        <div class="dropdown-content">
          <%if @user == nil %>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
          <%else%>
            <a href="/myaccount/properties">My Properties</a>
            <a href="/myaccount">My Profile</a>
          <%end%>
        </div>
      </div>
      <%if @user != nil %>
        <form action="/logout" method="POST"><button>Logout</button></form>
        <%end%>
    </nav>
    <h1>Welcome to makersBnB</h1>
    <h2>A home for you, wherever you are!</h2>
  </body>
</html>