<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>makersBNB Login</title>
  </head>
  <body>
    <h1> Congrats, you're logged in now! </h1>
    <p><%= puts @type %><p>
  </body>
</html>
