<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if @path == "Login" %>
      <title>makersBNB Login</title>
    <% elsif @path == "Signup" %>
      <title>makersBnB Signup</title>
    <% end %>
  </head>
  <body>
    <% if @path == "Login" %>
      <h1>Login</h1>
      <form action="/login" method="POST">
        <label for="email">Email Address:</label><br>
        <input type="email" name="email" required><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password" required><br>
        <input type="submit" value="Login">
      </form>
      <p>Don't have an account yet? Sign up <a href="/signup">here</a><p>
    <% elsif @path == "Signup" %>
      <h1>Signup</h1>
      <form action="/signup" method="POST">
        <label for="name">Full Name:</label>
        <input type="text" name="name" required><br>
        <label for="email">Email Address:</label>
        <input type="email" name="email" required><br>
        <label for="phone">Phone Number: (omit the starting 0)</label>
        <input type="bigint" name="phone" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br>
        <input type="submit" value="Signup">
      </form>
      <p>Already have an account? Login <a href="/login">here</a><p>
    <% end %>
  </body>
</html>