<% if @id != nil %>
  <form action=<%= "/properties/#{@id}/update"%> method="POST">
    <label for="name">Property Name:</label>
    <input type="text" name="name"><br>
    <label for="description">Description:</label>
    <textarea name="description" placeholder="Describe your property here" rows="10" cols="30"></textarea><br>
    <label for="price">Price: </label>
    <input type="number" name="price"><br>
    <label for="to_rent">Available:</label>
    <select id="to_rent" name="to_rent"><br>
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select><br>
    <input type="submit" value="Update Property">
  </form>
<% else %>
  <form action="/properties/new" method="POST">
    <label for="name">Property Name:</label>
    <input type="text" name="name" required><br>
    <label for="description">Description:</label>
    <textarea name="description" placeholder="Describe your property here" rows="10" cols="30" required></textarea><br>
    <label for="price">Price: </label>
    <input type="number" name="price" required><br>
    <label for="to_rent">Available:</label>
    <select id="to_rent" name="to_rent" required><br>
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select><br>
    <input type="submit" value="Add Property">
  </form>
<% end %>