<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Properties For Rent</title>
  </head>
  <body>
    <h1>Here's a list of properties available for renting near you!</h1>
    <% @properties.each do |property| %>
      <% if property.to_rent == 't' %>
        <div>
          <p>Name: <%= property.name%> <p>
          <p>Description: <%= property.description%> <p>
          <p>Price: <%= "£#{property.price}"%> <p>
        </div>
      <% end %>
    <% end %>
    <a href="/">Homepage<a>
  </body>
</html>