<html>
<head>
</head>
<body>
<p><%=@property.name%><p>
<p><%=@property.description%><p>
<p><%=@property.price%><p>
<p>update your property <a href=<%= "/property/#{@property.id}/update" %>>here<a>
</body>
</html>
