<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>makersBNB Signup</title>
  </head>
  <body>
    <h1>Signup</h1>
      <form action="/signup" method="POST">
        <label for="name">Full Name:</label><br>
        <input type="text" placeholder="John Smith" name="name" required><br>
        <label for="email">Email Address:</label><br>
        <input type="email" placeholder="johnsmith@ymail.com" name="email" required><br>
        <label for="phone">Phone Number: (omit the starting 0)</label><br>
        <input type="bigint" placeholder="7234567890" name="phone" required><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password" required><br>
        <input type="submit" value="Signup">
      </form>
  </body>
</html>